
/*---------------------
	Footer Section
-----------------------*/

.footer-widget span {
	color: #acb9cc;
}

.footer-widget p {
	margin-bottom: 20px;
}

.footer-widget .widget-title {
	margin-bottom: 30px;
	font-size: 20px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul a {
	font-size: 16px;
	color: #75849a;
	display: block;
	margin-bottom: 12px;
}

.footer-widget ul li:last-child a {
	margin-bottom: 0;
}

.social a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 7px;
	font-size: 18px;
}

.social a:last-child {
	margin-right: 0;
}

.social .facebook {
	background: #4b6cd0;
}

.social .google {
	background: #f03b3b;
}

.social .instagram {
	background: #bb8950;
}

.social .twitter {
	background: #49a7f3;
}

.footer-bottom {
	border-top: 0.5px solid #ebebeb;
	padding: 10px 0;
	align-items: left;
	text-align: left;
}

.footer-nav {
	list-style: none;
	padding-left: 0;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li a {
	color: #75849a;
	font-size: 14px;
	margin-left: 20px;
}
